{% extends 'base.html' %}
{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="http://37.187.99.85/leaflet/MovingMaker.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="http://37.187.99.85/Flot/excanvas.min.js"></script><![endif]-->
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h2>Moje treningi</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">Lista treningów</div>

                    <!-- Table -->
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <tr>
                            <th>#</th>
                            <th>Data</th>
                            <th>Czas trwania</th>
                            <th>Maksymalna prędkość</th>
                            <th>Przebyty dystans</th>
                            <th>Link</th>
                        </tr>
                        {% for t in trainings %}
                            <tr>
                                <td>{{ t.id }}</td>
                                <td>{{ t.date_start|date:"d-m-Y" }}</td>
                                <td>{{ t.duration }}</td>
                                <td>{{ t.max_speed }}</td>
                                <td>{{ t.distance }}</td>
                                <td><a href="{% url 'view_training' t.id %}" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-search"></span> Zobacz</a></td>
                            </tr>
                        {% endfor %}
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
