{% extends 'base.html' %}
{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="http://37.187.99.85/leaflet/MovingMaker.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="http://37.187.99.85/Flot/excanvas.min.js"></script><![endif]-->
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h2>Training nr: <span class="label label-default">#{{ training_id }}</span></h2>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">Podstawowe dane</div>

                  <!-- Table -->
                  <table class="table table-hover">
                    <tr>
                        <th>#</th>
                        <th>Nazwa</th>
                        <th>Wartość</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Start</td>
                        <td>{{ training.date_start|date:"d-m-Y H:i:s" }}</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Koniec</td>
                        <td>{{ training.date_end|date:"d-m-Y H:i:s" }}</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Czas trwania</td>
                        <td>{{ duration }}</td>
                    </tr>
                  </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">Statystyki treningu</div>

                  <!-- Table -->
                  <table class="table table-hover">
                    <tr>
                        <th>#</th>
                        <th>Nazwa</th>
                        <th>Wartość</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Średnia prędkość</td>
                        <td>{{ avg_speed }} m/s</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Max prędkość</td>
                        <td>{{ max_speed }} m/s</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Dystans</td>
                        <td>{{ whole_distance }}m</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Kalorie</td>
                        <td>{{ calories }}</td>
                    </tr>
                  </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
        <!-- Default panel contents -->
            <div class="panel-heading">Mapa</div>
            <div id="map" style="height: 400px;"></div>
        </div>
        <div class="panel panel-default">
        <!-- Default panel contents -->
            <div class="panel-heading">Wykres v=f(t)</div>
            <div id="chart1" style="height: 400px;"></div>
        </div>
        <div class="panel panel-default">
        <!-- Default panel contents -->
            <div class="panel-heading">Wykres v=f(s)</div>
            <div id="chart2" style="height: 400px;"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">GPS data</div>

                    <!-- Table -->
                    <table class="table table-hover">
                        <tr>
                            <th>#</th>
                            <th>Lat</th>
                            <th>Lng</th>
                            <th>Prędkość</th>
                            <th>Droga</th>
                            <th>Czas</th>
                        </tr>
                        {% for t in track %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ t.lat }}</td>
                            <td>{{ t.lng }}</td>
                            <td>{{ t.speed }}m/s</td>
                            <td>{{ t.dist }}m</td>
                            <td>{{ t.delta_time }}s</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% block bootstrap3_extra_script %}
            <script language="javascript" type="text/javascript" src="http://37.187.99.85/Flot/jquery.flot.js"></script>
            <script type="text/javascript">
                window.onload = function ()
                {
                    var runner = L.icon({
                        iconUrl: 'http://37.187.99.85/leaflet/runner.png',

                        iconSize:     [38, 95], // size of the icon
                        shadowSize:   [50, 64], // size of the shadow
                        iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
                        shadowAnchor: [4, 62],  // the same for the shadow
                        popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
                    });
                    var map = L.map('map').setView([{{ track.0.lat }}, {{ track.0.lng }}], 13);
                    L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
                        maxZoom: 17,
                        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
                        id: 'examples.map-i875mjb7'
                    }).addTo(map);
                    pointList = [];
                    animation = [];
                    {% for t in track %}
                        time = {{ t.delta_time }};
                        time *= 100;
                        pointList.push([{{ t.lat }}, {{ t.lng }}]);
                        animation.push(time);
                    {% endfor %}
                    /*for(var i = 0; i < pointList.length - 1; i++){
                        animation.push(200);
                    }*/
                    var polyline = L.polyline(pointList, {
                        color: 'red',
                        weight: 10,
                        smoothFactor: 1,
			            opacity: 0.8
                    }).addTo(map);
                    map.fitBounds(polyline.getBounds());
                    var myMovingMarker = L.Marker.movingMarker(pointList,
                                            animation, {loop: true, icon: runner}).addTo(map);

                    myMovingMarker.start();
                };
                $(function() {

                    speed_time = [];
                    speed_dist = [];
                    time = 0;
                    dist = 0;
                    {% for t in track %}
                        time = (time + {{ t.delta_time }});
                        dist = (dist + {{ t.dist }});
                        speed_time.push([time, {{ t.speed }}]);
                        speed_dist.push([dist, {{ t.speed }}]);
                    {% endfor %}

                    $.plot("#chart1", [{
                        data: speed_time,
                        lines: { show: true, fill: true },
                        points: { show: true }
                    }]);
                    $.plot("#chart2", [{
                        data: speed_dist,
                        lines: { show: true, fill: true },
                        points: { show: true },
                        color: "#3338b7"
                    }]);

                });
            </script>
        {% endblock %}

    </div>
{% endblock %}
