{% extends 'base.html' %}
{% block content %}
    <h1>Training</h1>
    <ul>
        {% for t in track %}
            <li>{{ t.lat }} - {{ t.lng }}</li>
        {% endfor %}
    </ul>
    <div id="map" style="height: 500px;"></div>
    <script type="text/javascript">
        var map = L.map('map').setView([{{ track.0.lat }}, {{ track.0.lng }}], 13);
        L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="http://mapbox.com">Mapbox</a>',
			id: 'examples.map-i875mjb7'
		}).addTo(map);

        {% for t in track %}
            L.marker([{{ t.lat }}, {{ t.lng }}]).addTo(map);
        {% endfor %}
    </script>
{% endblock %}
